# python 2.7
git+https://github.com/vmware/pyvmomi.git
git+https://github.com/vmware/pyvmomi-community-samples.git

# If not using django, comment the following out
Django==1.11.1
django-cors-headers==2.1.0
djangorestframework==3.6.3
django-rest-swagger==2.1.2
gunicorn==19.7.1
httpie==0.9.9
jsonpickle==0.9.5
Markdown==2.6.8
